* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000bb;
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #0f962c;
  font-size: 16px;
  /* background-image: url(./img/dance-with-the-dead-sledge.jpg); */
}

header {
  text-align: center;
}
/* SMALLER ELEMENTS */

h1 {
  display: flex;
  align-items: center;
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  color: #10ad5e;
}

h2 {
  font-size: 40px;
  margin-bottom: 1%;
  margin-top: 15%;
  color: #10ad5e;
  position: relative;
  font-family: "Cinzel", serif;
}

p {
  color: #f7f7f7d0;
  font-size: 22px;
  margin-bottom: 15px;
  margin-left: 0.5%;
  line-height: 1.5;
}
body {
  background-color: rgba(84, 145, 194, 0.068);
  position: relative;
}
ol {
  color: #f7f7f7d0;
  list-style-type: decimal;
  font-size: 22px;
  margin-bottom: 15px;
  margin-left: 4.5%;
  line-height: 1.5;
}
/*links */
a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #1098ad;
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}
a:active {
  background-color: black;
  font-style: italic;
}

/* NAVIGATION */

.menu ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.menu li {
  display: inline-block;
}
.menu ul li a {
  display: block;
  padding: 10px;
}

nav {
  font-size: 18px;
}
nav a:link {
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}
nav a:last-child {
  margin-right: 0;
}

.container {
  min-height: 100vh;
  width: 90%;
  max-width: 75em;
  margin: 1.25rem auto;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.copyright {
  color: #0f962c;
}

footer p {
  color: green;
  font-size: 15px;
  margin-bottom: 15px;
  margin-left: 0.5%;
}

.discografias {
  border-bottom: 1px solid;
  border-color: orangered;
  font-size: 24px;
  font-weight: 500;
  overflow: hidden;
  padding: 6px 0;
}
aside {
  border-style: solid;
  border-color: orangered;
  border-radius: 3px;
  border-width: 1px;
  float: right;
  width: 200px;
}
ul {
  margin-left: 1%;
}
.aside {
  color: #f7f7f7d0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: orangered;
  padding: 6px 0;
  margin-bottom: 1px;
  list-style: none;
}

.tour {
  color: #f7f7f7d0;
  line-height: 1.5;
  list-style: none;
}

/* ANIMACIONES */

h1 {
  animation-duration: 2s;
  animation-name: fadein;
  animation-iteration-count: initial;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* MEDIA */

/* EXTRA GRANDES */
@media (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}
/* GRANDES */
@media (max-width: 992px) {
}
/* MEDIO */
@media (max-width: 768px) {
}
/* PEQUEÑO */
@media (max-width: 576px) {
}
